/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @use 'bootstrap/scss/bootstrap';

@use 'bootstrap/scss/bootstrap' with (
  $primary: #0d9488
);

.text-bg-purple-subtle {
  background-color: #f3e8ff;
  color: #7c3aed;
}